apiVersion: apps/v1
kind: Deployment
metadata:
  name:  ${DEPLOYMENT_NAME}
spec:
  replicas: 1
  selector:
    matchLabels:
      app:  verana-frontend-app
  template:
    metadata:
      labels:
        app:  verana-frontend-app
    spec:
      nodeSelector:
        kubernetes.io/hostname: ${CLUSTER_NODE}
      containers:
      - name:  verana-frontend-app
        image: veranalabs/${IMAGE_NAME}:${IMAGE_TAG}
        imagePullPolicy: IfNotPresent
        env:
        - name: NEXT_PUBLIC_PORT
          value: "${NEXT_PUBLIC_PORT}"
        - name: NEXT_PUBLIC_BASE_URL
          value: "${NEXT_PUBLIC_BASE_URL}"
        - name: NEXT_PUBLIC_VERANA_CHAIN_ID
          value: "${NEXT_PUBLIC_VERANA_CHAIN_ID}"
        - name: NEXT_PUBLIC_VERANA_CHAIN_NAME
          value: "${NEXT_PUBLIC_VERANA_CHAIN_NAME}"
        - name: NEXT_PUBLIC_VERANA_RPC_ENDPOINT
          value: "${NEXT_PUBLIC_VERANA_RPC_ENDPOINT}"
        - name: NEXT_PUBLIC_VERANA_REST_ENDPOINT
          value: "${NEXT_PUBLIC_VERANA_REST_ENDPOINT}"
        - name: NEXT_PUBLIC_VERANA_REST_ENDPOINT_TRUST_DEPOSIT
          value: "${NEXT_PUBLIC_VERANA_REST_ENDPOINT_TRUST_DEPOSIT}"
        - name: NEXT_PUBLIC_VERANA_REST_ENDPOINT_DID
          value: "${NEXT_PUBLIC_VERANA_REST_ENDPOINT_DID}"
        - name: NEXT_PUBLIC_VERANA_REST_ENDPOINT_TRUST_REGISTRY
          value: "${NEXT_PUBLIC_VERANA_REST_ENDPOINT_TRUST_REGISTRY}"
        - name: NEXT_PUBLIC_VERANA_REST_ENDPOINT_CREDENTIAL_SCHEMA
          value: "${NEXT_PUBLIC_VERANA_REST_ENDPOINT_CREDENTIAL_SCHEMA}"
        - name: NEXT_PUBLIC_VERANA_REST_ENDPOINT_PERM
          value: "${NEXT_PUBLIC_VERANA_REST_ENDPOINT_PERM}"
        - name: NEXT_PUBLIC_VERANA_TOPUP_VS
          value: "${NEXT_PUBLIC_VERANA_TOPUP_VS}"
        - name: NEXT_PUBLIC_VERANA_SIGN_DIRECT_MODE
          value: "${NEXT_PUBLIC_VERANA_SIGN_DIRECT_MODE}"
        - name: NEXT_PUBLIC_SESSION_LIFETIME_SECONDS
          value: "${NEXT_PUBLIC_SESSION_LIFETIME_SECONDS}"
        ports:
        - containerPort: 3000