name: Dev Pre-release (semantic-release)

on:
  push:
    branches: [main, "release/**"]

jobs:
  dev-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup node v22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run semantic-release
        id: semantic
        uses: codfish/semantic-release-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branches: |
            [
              'release',
              { 
                name: 'main',
                prerelease: 'dev'
              }
            ]
          plugins: |
            [
              [
                "@semantic-release/commit-analyzer",
                {
                  "preset": "angular",
                  "releaseRules": [
                    {
                      "type": "refactor",
                      "release": "patch"
                    },
                    {
                      "type": "build",
                      "release": "patch"
                    }                    
                  ]
                }
              ],
              [
                "@semantic-release/npm",
                {
                  "npmPublish": false
                }
              ],
              "@semantic-release/release-notes-generator",
            ]

      - name: Docker login
        uses: docker/login-action@v2
        if: steps.semantic.outputs.new-release-published == 'true'
        with:
          username: ${{ secrets.DOCKER_HUB_LOGIN }}
          password: ${{ secrets.DOCKER_HUB_PWD }}

      - name: Build & push dev Docker image
        uses: docker/build-push-action@v5
        if: steps.semantic.outputs.new-release-published == 'true'
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_LOGIN }}/verana-front:dev
            ${{ secrets.DOCKER_HUB_LOGIN }}/verana-front:v${{ steps.semantic.outputs.release-major }}-dev
            ${{ secrets.DOCKER_HUB_LOGIN }}/verana-front:v${{ steps.semantic.outputs.release-major }}.${{ steps.semantic.outputs.release-minor }}-dev
            ${{ secrets.DOCKER_HUB_LOGIN }}/verana-front:v${{ steps.semantic.outputs.release-version }}

      - name: Set up kubectl
        if: steps.semantic.outputs.new-release-published == 'true'
        uses: azure/setup-kubectl@v4
        with:
          version: "latest"

      - uses: azure/k8s-set-context@v4
        if: steps.semantic.outputs.new-release-published == 'true'
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.OVH_KUBECONFIG }}

      - name: Set up Helm
        if: steps.semantic.outputs.new-release-published == 'true'
        uses: azure/setup-helm@v3

      - name: Deploy (Helm upgrade --install)
        if: steps.semantic.outputs.new-release-published == 'true'
        run: |
          helm upgrade --install verana-frontend ./charts \
            -n vna-testnet-1 \
            --create-namespace \
            --wait \
            --atomic \
            --timeout 20m
